* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Here starts .container-one and their items in order */
.container-one {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  /* height: 80vh; */
  gap: 7rem;
  padding: 0 16% 14%;
}

/* Here starts .header and their items in order */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15%;
  height: 8vh;
}

.left-links {
  font-size: 24px;
  color: #f9faf8;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header ul li {
  font-size: 18px;
  color: #e5e7eb;
}

.header ul a {
  text-decoration: none;
}
/* Here finalize .header's items */
/* Here starts .start items */
.start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  /* padding: 15%; */
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.intro-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.intro-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.intro-text button {
  color: white;
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  height: 31px;
  width: 120px;
}

.img-placeholder {
  display: flex;
  flex: 1;
}

.img-placeholder > img {
  flex: 1;
  object-fit: cover;
  max-height: calc(214px + 1rem);
  border-radius: 7px;
}
/* Here finalize .start items */

/* Here finalize .container-one's items*/

/* Here starts .container-two and their items in order */
.container-two {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #f9faf8;
}

.container-two > div > h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding-top: 40px;
  text-align: center;
}

.two-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 60px;
}

.item {
  max-width: 170px;
}

.item > div {
  height: 170px;
  width: 170px;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.item p {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}
/* Here finalize .container-two */

/* Here starts .container-three and their items in order */

.container-three {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 7em 20%;
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote > p {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

.quote h2 {
  text-align: end;
}
/* Here finalize .container-three */

/* Here starts .container-four and their items in order */
.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9% 13%;
}

.modal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  min-height: 12vh;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 5% 8%;
  gap: 30px;
  border-radius: 5px;
}

.half-left {
  display: flex;
  flex-direction: column;
}

.half-left h3 {
  color: #f9faf8;
}

.half-left p {
  color: #f9faf8;
}

.half-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.half-right > button {
  color: white;
  background-color: #3882f6;
  border: white 2px solid;
  border-radius: 5px;
  height: 31px;
  width: 120px;
}
/* Here finalize .container-four */

/* Here starts footer and their items in order */
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

footer p {
  color: #f9faf8;
}
/* Here finalize footer */
