
/* Here starts .container-one and their items in order */
.container-one {

}

/* Here starts .header and their items in order */
.header {

}
.header h2 {

}

.header ul {

}

.header ul li {

}

.header ul a {

}
/* Here finalize .header's items */
/* Here starts .start items */
.start {

}

.start div h1 {

}

.start div p {

}

.start div button {

}

.img-placeholder {

}
/* Here finalize .start items */

/* Here finalize .container-one's items*/